body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.container h1 {
    text-align: center; 
    font-size: 35px; 
    text-transform: uppercase; 
    color: #222; 
    letter-spacing: 1px;
    font-family: "Playfair Display", serif; 
    font-weight: 400;
}
  .container h1 span {
    margin-top: 5px;
    font-size:12px; 
    color:#444; 
    word-spacing:1px; 
    font-weight:normal; 
    letter-spacing:2px;
    text-transform: uppercase; 
    font-family:"Raleway", sans-serif; 
    font-weight:500;
  
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 20px 0;
    grid-gap: 10px;
    align-items: center;
}
  
  .container h1 span:after,.container h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color:#f8f8f8;
}

#puzzle {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 50px;
    height: 50px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    border-spacing: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: whitesmoke;
    font-weight: bold;
}

.tile-wrong {
    background-color: rgb(255, 200, 200);
    color: red;
}

.tile-right {
    background-color: rgb(175, 255, 175);
    color: green;
}

.horizontal-line {
    border-bottom: 2px solid black;
}

.vertical-line {
    border-right: 2px solid black;
}

.button {
    display: inline-block;
    border-radius: 10px;
    background-color: #99918f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 20px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }